<div class="container" >
  <a class="links" id="paracadastro"></a>
  <a class="links" id="paralogin"></a>
  
  <div class="content">      
    <!--FORMULÁRIO DE LOGIN-->
    <div id="login">
      <form method="post" action=""> 
        <h1>Login</h1> 
        <p> 
          <label for="email_login">Seu e-mail</label>
          <input id="email_login" name="email_login" required="required" type="text" placeholder="contato@htmlecsspro.com"/>
        </p>
        
        <p> 
          <label for="senha_login">Sua senha</label>
          <input id="senha_login" name="senha_login" required="required" type="password" placeholder="1234" /> 
        </p>
        
        <p> 
          <input type="checkbox" name="manterlogado" id="manterlogado" value="" /> 
          <label for="manterlogado">Manter-me logado</label>
        </p>
        
        <p> 
          <input type="submit" value="Logar" /> 
        </p>
        
        <p class="link">
          Ainda não tem conta?
          <a href="#paracadastro">Cadastre-se</a>
        </p>
      </form>
    </div>

    <!--FORMULÁRIO DE CADASTRO-->
    <div id="cadastro">
      <form method="post" action=""> 
        <h1>Cadastro</h1> 
        
        <p> 
          <label for="nome_cad">Seu nome</label>
          <input [(ngModel)]='usuarioModel.nome' id="nome_cad" name="nome_cad" required="required" type="text" placeholder="DEV'S GOAT" />
        </p>
        
        <p> 
          <label for="email_cad">Seu e-mail</label>
          <input [(ngModel)]='usuarioModel.usuario' id="email_cad" name="email_cad" required="required" type="email" placeholder="vozativa.generation@gmail.com"/> 
        </p>
        
        <p> 
          <label for="foto_cad">Link da Foto</label>
          <input [(ngModel)]='usuarioModel.foto' id="foto_cad" name="foto_cad" required="required" type="text" placeholder="https://i.imgur.com/rAiTvpD.jpg">
        </p>

        <p> 
          <label for="senha_cad">Sua senha</label>
          <input (input)='confirmSenha($event)' id="senha_cad" name="senha_cad" required="required" type="password" placeholder="mínimo 8 dígitos"/>
        </p>
        
        <p> 
          <label for="senha_cad">Confirme sua senha</label>
          <input [(ngModel)]='usuarioModel.senha' id="csenha_cad" name="csenha_cad" required="required" type="password" placeholder="Confirmar senha">
        </p>

        
        <p> 
          <input (click)="cadastrarUsuario()" type="submit" class="btn btn-success"  value="Cadastrar"/>

           <!-- <input type="submit" class="btn btn-danger mr-4" routerLink="/logar" value="Cancelar"/>  Implementação do botão cancelar-->

        </p>

        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-danger mr-4" routerLink='/entrar'>Cancelar</button>
          <button type="submit" class="btn btn-success" (click)='cadastrarUsuario()' >Cadastrar</button>
        </div>

        <!-- <button type="submit" class="btn btn-danger mr-4" routerLink="/logar">Cancelar</button> -->

        <!--  <button (click)="cadastrarUsuario()" type="submit" class="btn btn-success">Cadastrar</button> -->
        
        <p class="link">  
          Já tem conta?
          <a href="/logar"> Voltar para Login </a>
        </p>
      </form>
    </div>
  </div>
</div> 